DB_USER=humanity
DB_PASSWORD=humanity-local
DB_PORT=55432
APP_PORT=8080
APP_USERS=  admib:admin,
            user1:123
            user2:123
# For department server: DB_URL=jdbc:postgresql://pg:5432/studs
